#div01{
    background-color: rgba(0, 0, 0, 0.266);
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;

}

html{
    background-color: black;
}

.text{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    background-color: black;
      
}

h1{
    text-transform: uppercase;
}

#img01{
    width:100%;
    border:10px solid rgb(88, 86, 86);
}
